**Reto 07**

1. Imprimir un listado con los números del 1 al 100 cada uno con su respectivo cuadrado.

In [ ]:
def listado(): #nombrando funcion
  for i in range(1, 101): #creando el rango
    print(f"Número: {i}, Cuadrado: {i**2}") # el print hace a la vez de funcion y de "print" jajaja

if __name__ == "__main__":
  listado()

Número: 1, Cuadrado: 1
Número: 2, Cuadrado: 4
Número: 3, Cuadrado: 9
Número: 4, Cuadrado: 16
Número: 5, Cuadrado: 25
Número: 6, Cuadrado: 36
Número: 7, Cuadrado: 49
Número: 8, Cuadrado: 64
Número: 9, Cuadrado: 81
Número: 10, Cuadrado: 100
Número: 11, Cuadrado: 121
Número: 12, Cuadrado: 144
Número: 13, Cuadrado: 169
Número: 14, Cuadrado: 196
Número: 15, Cuadrado: 225
Número: 16, Cuadrado: 256
Número: 17, Cuadrado: 289
Número: 18, Cuadrado: 324
Número: 19, Cuadrado: 361
Número: 20, Cuadrado: 400
Número: 21, Cuadrado: 441
Número: 22, Cuadrado: 484
Número: 23, Cuadrado: 529
Número: 24, Cuadrado: 576
Número: 25, Cuadrado: 625
Número: 26, Cuadrado: 676
Número: 27, Cuadrado: 729
Número: 28, Cuadrado: 784
Número: 29, Cuadrado: 841
Número: 30, Cuadrado: 900
Número: 31, Cuadrado: 961
Número: 32, Cuadrado: 1024
Número: 33, Cuadrado: 1089
Número: 34, Cuadrado: 1156
Número: 35, Cuadrado: 1225
Número: 36, Cuadrado: 1296
Número: 37, Cuadrado: 1369
Número: 38, Cuadrado: 1444
Número: 39, Cuadrado: 1521
Número: 40, Cuadrado: 1600
Número: 41, Cuadrado: 1681
Número: 42, Cuadrado: 1764
Número: 43, Cuadrado: 1849
Número: 44, Cuadrado: 1936
Número: 45, Cuadrado: 2025
Número: 46, Cuadrado: 2116
Número: 47, Cuadrado: 2209
Número: 48, Cuadrado: 2304
Número: 49, Cuadrado: 2401
Número: 50, Cuadrado: 2500
Número: 51, Cuadrado: 2601
Número: 52, Cuadrado: 2704
Número: 53, Cuadrado: 2809
Número: 54, Cuadrado: 2916
Número: 55, Cuadrado: 3025
Número: 56, Cuadrado: 3136
Número: 57, Cuadrado: 3249
Número: 58, Cuadrado: 3364
Número: 59, Cuadrado: 3481
Número: 60, Cuadrado: 3600
Número: 61, Cuadrado: 3721
Número: 62, Cuadrado: 3844
Número: 63, Cuadrado: 3969
Número: 64, Cuadrado: 4096
Número: 65, Cuadrado: 4225
Número: 66, Cuadrado: 4356
Número: 67, Cuadrado: 4489
Número: 68, Cuadrado: 4624
Número: 69, Cuadrado: 4761
Número: 70, Cuadrado: 4900
Número: 71, Cuadrado: 5041
Número: 72, Cuadrado: 5184
Número: 73, Cuadrado: 5329
Número: 74, Cuadrado: 5476
Número: 75, Cuadrado: 5625
Número: 76, Cuadrado: 5776
Número: 77, Cuadrado: 5929
Número: 78, Cuadrado: 6084
Número: 79, Cuadrado: 6241
Número: 80, Cuadrado: 6400
Número: 81, Cuadrado: 6561
Número: 82, Cuadrado: 6724
Número: 83, Cuadrado: 6889
Número: 84, Cuadrado: 7056
Número: 85, Cuadrado: 7225
Número: 86, Cuadrado: 7396
Número: 87, Cuadrado: 7569
Número: 88, Cuadrado: 7744
Número: 89, Cuadrado: 7921
Número: 90, Cuadrado: 8100
Número: 91, Cuadrado: 8281
Número: 92, Cuadrado: 8464
Número: 93, Cuadrado: 8649
Número: 94, Cuadrado: 8836
Número: 95, Cuadrado: 9025
Número: 96, Cuadrado: 9216
Número: 97, Cuadrado: 9409
Número: 98, Cuadrado: 9604
Número: 99, Cuadrado: 9801
Número: 100, Cuadrado: 10000

2. Imprimir un listado con los números impares desde 1 hasta 999 y seguidamente otro listado con los números pares desde 2 hasta 1000.

In [ ]:
def clasificacion(): # se nombra función y se crean los grupos vacios
  pares = []
  impares = []
  for i in range(1,1001) : # Se crea el rango y la funcion como tal, si el residuo de una division por 2 es 0, es par, y se añade al grupo de pares o al de impares respectivamente
    if i % 2 == 0 :
      pares.append(i)
    else :
      impares.append(i)

  print((f"Numeros impares: {impares}")) # los print
  print((f"Numeros pares: {pares}"))

if __name__ == "__main__": # la fiuncion principal
  clasificacion()

Numeros impares: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199, 201, 203, 205, 207, 209, 211, 213, 215, 217, 219, 221, 223, 225, 227, 229, 231, 233, 235, 237, 239, 241, 243, 245, 247, 249, 251, 253, 255, 257, 259, 261, 263, 265, 267, 269, 271, 273, 275, 277, 279, 281, 283, 285, 287, 289, 291, 293, 295, 297, 299, 301, 303, 305, 307, 309, 311, 313, 315, 317, 319, 321, 323, 325, 327, 329, 331, 333, 335, 337, 339, 341, 343, 345, 347, 349, 351, 353, 355, 357, 359, 361, 363, 365, 367, 369, 371, 373, 375, 377, 379, 381, 383, 385, 387, 389, 391, 393, 395, 397, 399, 401, 403, 405, 407, 409, 411, 413, 415, 417, 419, 421, 423, 425, 427, 429, 431, 433, 435, 437, 439, 441, 443, 445, 447, 449, 451, 453, 455, 457, 459, 461, 463, 465, 467, 469, 471, 473, 475, 477, 479, 481, 483, 485, 487, 489, 491, 493, 495, 497, 499, 501, 503, 505, 507, 509, 511, 513, 515, 517, 519, 521, 523, 525, 527, 529, 531, 533, 535, 537, 539, 541, 543, 545, 547, 549, 551, 553, 555, 557, 559, 561, 563, 565, 567, 569, 571, 573, 575, 577, 579, 581, 583, 585, 587, 589, 591, 593, 595, 597, 599, 601, 603, 605, 607, 609, 611, 613, 615, 617, 619, 621, 623, 625, 627, 629, 631, 633, 635, 637, 639, 641, 643, 645, 647, 649, 651, 653, 655, 657, 659, 661, 663, 665, 667, 669, 671, 673, 675, 677, 679, 681, 683, 685, 687, 689, 691, 693, 695, 697, 699, 701, 703, 705, 707, 709, 711, 713, 715, 717, 719, 721, 723, 725, 727, 729, 731, 733, 735, 737, 739, 741, 743, 745, 747, 749, 751, 753, 755, 757, 759, 761, 763, 765, 767, 769, 771, 773, 775, 777, 779, 781, 783, 785, 787, 789, 791, 793, 795, 797, 799, 801, 803, 805, 807, 809, 811, 813, 815, 817, 819, 821, 823, 825, 827, 829, 831, 833, 835, 837, 839, 841, 843, 845, 847, 849, 851, 853, 855, 857, 859, 861, 863, 865, 867, 869, 871, 873, 875, 877, 879, 881, 883, 885, 887, 889, 891, 893, 895, 897, 899, 901, 903, 905, 907, 909, 911, 913, 915, 917, 919, 921, 923, 925, 927, 929, 931, 933, 935, 937, 939, 941, 943, 945, 947, 949, 951, 953, 955, 957, 959, 961, 963, 965, 967, 969, 971, 973, 975, 977, 979, 981, 983, 985, 987, 989, 991, 993, 995, 997, 999]
Numeros pares: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998, 1000]

3. Imprimir los números pares en forma descendente hasta 2 que son menores o iguales a un número natural n ≥ 2 dado

In [ ]:
def contador():
  for i in range(n,1, -1): # Rango creado
    if i%2==0: #Clasificacion y contador de nuemros pares
      print(i)

if __name__ == '__main__': # funcion principal
  n = int(input('Ingrese un numero: ')) #entrada de dato n
  contador()

Ingrese un numero: 22
22
20
18
16
14
12
10
8
6
4
2

4. Imprimir los números de 1 hasta un número natural n dado, cada uno con su respectivo factorial

In [ ]:
def fact(n): #se crea la funcion
  if n == 0: #se crea el bucle, terminandolo en si n es igual a 0, da 1
    return 1
  else:
    return n * fact(n-1) #se hace la operacion

n = int(input("Ingrese un número natural: ")) #la entrada del dato n

for i in range(1, n + 1): # Se crea el rango
  print(f"{i}! = {fact(i)}") # Se hace el print para crear la lista

Ingrese un número natural: 7
1! = 1
2! = 2
3! = 6
4! = 24
5! = 120
6! = 720
7! = 5040

5. Calcular el valor de 2 elevado a la potencia n usando ciclos for.

In [ ]:
expo=int(input("ingresa el exponente: ")) #ingreso de los datos

exp=1 #se iguala a 1 porque va a ser el rango q vaya a llevar las potencias
for i in range(expo): # se crea el rango con el dato ingresado
  exp*=2 # se hace la operacion de conteo
print((f"2 elevado a la {expo} es igual a {exp}" )) #se imprime el resultado

ingresa el exponente: 5
2 elevado a la 5 es igual a 32

6. Leer un número natural n, leer otro dato de tipo real x y calcular x^n usando ciclos for. Disclaimer: Trate de no utilizar el operador de potencia (**).

In [ ]:
def potencia(): #Creacion de la funcion
  n = int(input("Ingrese un número natural n: ")) # ingreso de dato
  x = float(input("Ingrese un número real x: ")) # ingreso de dato

  resultado = 1 #se iguala a 1 para llevar el conteo
  for _ in range(n): #Se crea el rango con n como exponente
    resultado *= x # se hace la operacion

  print(f"{x}^{n} = {resultado}") # el resultado

if __name__ == "__main__":
  potencia()

Ingrese un número natural n: 5
Ingrese un número real x: 2
2.0^5 = 32.0

7. Diseñe un programa que muestre las tablas de multiplicar del 1 al 9.

In [ ]:
def tablas(): #se crea la funcion
  for i in range(1, n+1): #se crea el primer rango con el numero n dado para crear ese numero de tablas
    print(f"\nTabla de multiplicar del {i}:") # encabezado de cada tabla de multiplicar
    for j in range(1, 11): # se crea el segundo rango para hacer el numero de multiplicaciones
      print(f"{i} x {j} = {i * j}") #operacion y al mismo tiempo la lista

if __name__ == "__main__": #se crea la funcion principal
  n=int(input("Ingrese el numero de tablas: ")) #ingreso de dato
  tablas() #se hace el llamado a la funcion de las tablas

Ingrese el numero de tablas: 9

Tabla de multiplicar del 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Tabla de multiplicar del 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Tabla de multiplicar del 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Tabla de multiplicar del 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Tabla de multiplicar del 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Tabla de multiplicar del 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Tabla de multiplicar del 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Tabla de multiplicar del 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Tabla de multiplicar del 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

8. Diseñar una función que permita calcular una aproximación de la función exponencial alrededor de 0 para cualquier valor x (real), utilizando los primeros n términos de la serie de Taylor. Nota: use math para traer la función exponencial y mostrar la diferencia entre el valor real y la aproximación.
!![image.png]()

In [12]:
import math #Se importa la libreria math

def aprox(x, n): # se crea la funcion
    pez= 0 #Esta variable lleva la cuenta
    for i in range(0,n+1): #se crea el rango, haciendo de sumatoria
      pavo= (x**i) / math.factorial(i) # se importa la funcion para el calculo, y se agrega a la formula
      pez+=pavo #Aqui se realiza la sumatoria
    return pez
#Funcion principal y solicitud de datos
if __name__ == "__main__":
    x = float(input("Ingrese el valor de x: "))
    n = int(input("Ingrese el número de términos de la serie de Taylor: "))

    real:float=math.exp(x) #mediante la funcion importada se hace el calculo del valor real
    diferencia:float=real-aprox(x,n) #aqui se restan para obtener la diferencia

  # Resultados
    print(f"Aproximación de e^{x} con {n} términos: {aprox(x,n)}")
    print(f"Valor real de e^{x}: {real}")
    print(f"Diferencia entre el valor real y la aproximación: {diferencia}")

Ingrese el valor de x: 4
Ingrese el número de términos de la serie de Taylor: 8
Aproximación de e^4.0 con 8 términos: 53.43174603174603
Valor real de e^4.0: 54.598150033144236
Diferencia entre el valor real y la aproximación: 1.166404001398206

9. Diseñar una función que permita calcular una aproximación de la función seno alrededor de 0 para cualquier valor x (real), utilizando los primeros n términos de la serie de Maclaurin. Nota: use math para traer la función seno y mostrar la diferencia entre el valor real y la aproximación.![image.png]()

In [13]:
import math

def seno(x, n):
    pez= 0
    for i in range(0,n+1):
      pavo= ((-1)**i)*((x**((2*i)+1))/math.factorial(2*i+1))
      pez+=pavo
    return pez

if __name__ == "__main__":
    x = float(input("Ingrese el valor de x (sin(x)) en radianes: "))
    n = int(input("Ingrese el número de términos relacionados con la exactitud de aproximación: "))

    real:float=math.sin(x)
    diferencia:float=real-seno(x,n)

    print(f"Aproximación de sin({x}) con {n} términos: {seno(x,n)}")
    print(f"Valor real en radianes es: {real}")
    print(f"Diferencia entre el valor real y la aproximación: {diferencia}")

Ingrese el valor de x (sin(x)) en radianes: 22
Ingrese el número de términos relacionados con la exactitud de aproximación: 6
Aproximación de sin(22.0) con 6 términos: 33651378.06153122
Valor real en radianes es: -0.008851309290403876
Diferencia entre el valor real y la aproximación: -33651378.070382535